/* colors 
#7579e7 - blue
#9ab3f5 - light blue
#262996 - dark blue
#dbdcf0 - light purple
#555555 - gray
#fff - white

*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 1 rem = 10px  */
}

body {
    color: #555555;
}

h1, h2 {
    color: #7579e7;
}

h2 {
    font-weight: 300;
    font-size: 3.3rem;
}

h3 {
    font-weight: 300;
    color: #555555;
    font-size: 3rem;
}

main {
    background-color:#dbdcf0;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 5rem 0;
}

.question-img {
    padding: 4px;
    background-color:#fff;
    border: .1rem solid #7579e7;
    border-radius: 1.5rem;
    height: 22rem;
}

.msg {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 3rem;
}

.form-check {
    margin: 2rem 0;
    font-size: 2rem;

    display: flex;
    align-items: center;
}

.form-check-label {
    margin-left: 1rem;
}

.btn {
    font-size: 2rem;
    color: #262996;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.scores-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores {
    margin-top: 3rem;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: 600;
    border-radius: .5rem;
    color: green;

    display: grid;
    grid-template-columns: 16rem 7rem;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1rem;
    justify-items: start;
}

.scores-best {
    grid-column:  1 / 2;
    grid-row: 1 / 2;
}

.scores-current {
    grid-column:  1 / 2;
    grid-row: 2 / 3;
}

.btn-try-again {
    border: .1rem solid green;
    border-radius: 100%;
    padding: .8rem 1.3rem;
    font-size: 1.4rem;
    color: #555555;

    grid-column:  2 / 3;
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}

.btn-try-again:focus {
    outline: none;
}

.btn-try-again:hover,
.btn-try-again:active {
    background-color: green;
    color: #fff;
    transition: all .2s;
}

footer {
    padding: 4rem 0;
    background-color: #555555;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
}

/* Media queries*/

/* min-width 576px */
@media only screen and  (min-width: 576px) {
   
    .form-check {
        margin: 2rem;
    }
    .question {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-auto-rows: minmax(10rem, auto);
        margin-bottom: 8rem;
    }

    .question-img-box{
        margin-right: 2rem;
        grid-column: 1 / 2;
        justify-self: end;
    }
    .answer-options {
        width: 26rem;

        grid-column: 2 / 3;
    }

    .scores {
        margin-top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .scores-best,
    .scores-current {
        margin-right: 1rem;
    }

    .msg {
        grid-column: 1 / 3;
    }
}

/* min-width 992px */
@media only screen and  (min-width: 992px) {

    .scores {
        display: grid;

        position: absolute;
        top: 4rem;
        right: 1rem;
    }

    .scores-best,
    .scores-current {
        margin-right: 0;
    }
}